# Configure a default setup of Home Assistant (- /hacsfiles/lovelace-card-mod/card-mod.jstend, api, etc)
default_config:

homeassistant:
  name: Pogu's
  latitude: !secret homeassistant_latitude
  longitude: !secret homeassistant_longitude
  elevation: 5
  unit_system: us_customary
  temperature_unit: F
  time_zone: America/New_York
  external_url: !secret homeassistant_external_url
  packages: !include_dir_named include
  country: US
  currency: USD

recorder:
  db_url: !secret postgresqlDB
  purge_keep_days: 2

# Text to speech
tts:
  - platform: google_translate
  
wake_on_lan:

frontend:
  themes: !include_dir_merge_named themes
  extra_module_url:
    - /hacsfiles/lovelace-card-mod/card-mod.js

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 10.0.0.0/8
  ip_ban_enabled: false
  login_attempts_threshold: 3

mqtt: !include mqtt_sensors.yaml

## LOVELACE UI ##########################################################################
# OLD ?
lovelace_gen:

lovelace:
  mode: yaml
  # Include external resources only add when mode is yaml
  resources:
    # Plugins
    - url: /hacsfiles/lovelace-auto-entities/auto-entities.js
      type: module
    - url: /hacsfiles/button-card/button-card.js
      type: module
    - url: /hacsfiles/light-entity-card/light-entity-card.js
      type: module
    - url: /hacsfiles/light-popup-card/light-popup-card.js
      type: module
    - url: /hacsfiles/lovelace-card-mod/card-mod.js
      type: module
    - url: /hacsfiles/lovelace-card-tools/card-tools.js
      type: module
    - url: /hacsfiles/lovelace-layout-card/layout-card.js
      type: module
    - url: /hacsfiles/lovelace-slider-entity-row/slider-entity-row.js
      type: module
    - url: /hacsfiles/mini-graph-card/mini-graph-card-bundle.js
      type: module
    - url: /hacsfiles/vertical-stack-in-card/vertical-stack-in-card.js
      type: module
    - url: /hacsfiles/frigate-hass-card/frigate-hass-card.js
      type: module
    - url: /hacsfiles/stack-in-card/stack-in-card.js
      type: module
    - url: /hacsfiles/my-cards/my-cards.js
      type: module      
    - url: /hacsfiles/apexcharts-card/apexcharts-card.js
      type: module
    - url: /hacsfiles/LG-WebOS-Remote-Control/lg-remote-control.js
      type: module                         
    - url: /hacsfiles/lovelace-mushroom/mushroom.js
      type: module
    - url: /hacsfiles/simple-weather-card/simple-weather-card-bundle.js
      type: module
    - url: /hacsfiles/custom-brand-icons/custom-brand-icons.js
      type: module
    - url: /hacsfiles/weather-radar-card/weather-radar-card.js
      type: module
    - url: /hacsfiles/decluttering-card/decluttering-card.js
      type: module
    - url: /hacsfiles/lovelace-valetudo-map-card/valetudo-map-card.js
      type: module
    - url: /hacsfiles/swipe-card/swipe-card.js
      type: module
    - url: /hacsfiles/Bubble-Card/bubble-card.js
      type: module
    - url: /hacsfiles/bar-card/bar-card.js
      type: module
    - url: /hacsfiles/lovelace-hourly-weather/hourly-weather.js
      type: module
    - url: /hacsfiles/lovelace-navbar-card/navbar-card.js
      type: module            
    - url: /hacsfiles/lovelace-state-switch/state-switch.js
      type: module              
    - url: /hacsfiles/vehicle-status-card/vehicle-status-card.js
      type: module
    - url: /hacsfiles/tabbed-card/tabbed-card.js
      type: module
                

    # Styles
    - url: "https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap"
      type: css
    - url: "https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
      type: css

  # Add yaml dashboards
  dashboards:
    lovelace-generated:
      mode: yaml
      filename: notexist.yaml
      title: Generated
      icon: mdi:rotate-right
      show_in_sidebar: true
      require_admin: true

notify:
  - name: notify_group
    platform: group
    services:
    - service: mobile_app_vpogu_pixel9

google_assistant: !include google_assistant_integ.yaml
adaptive_lighting:
  lights:
    - light.living_room_dining_group
    - light.kitchen_lights_group
    - light.landing_lights_group
    - light.office_ceiling_lights_group
sun:
fontawesome:
